@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-title: "Cormorant Garamond", serif;
  --font-family-body: "Plus Jakarta Sans", sans-serif;
  --text-nav: 0.875rem; /* 14px */
  --text-extreme-large: 4.843rem; /* 77.49px */
  --text-tag: 0.75rem; /* 12px */
  --text-link: 0.813rem; /* 13px */
  --text-body-extreme-large: 1.125rem; /* 18px */
  --text-title-section: 3.044rem; /* 48.708px */
  --text-body: 0.875rem; /* 14px */
  --card-title: 1rem; /* 16px */
  --card-body: 0.875rem; /* 14px */
  --text-color-title: black;
  --text-color-body: #68717c;
  --text-color-tag-btn: #c92a2a;
  --text-color-highlight: #9b72cb;
  --color-nav-highlight: rgba(4, 182, 247, 0.224);
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family-body);
  color: var(--text-color-body);
  h1,
  h2,
  h3 {
    font-family: var(--font-family-title);
  }
  .red-btn {
    width: 220.03px;
    height: 46.09px;
    background-color: var(--text-color-tag-btn);
    a {
      text-decoration: none;
      color: white;
      font-size: var(--text-link);
      text-transform: uppercase;
    }
    padding: 11px 26px;
    border: none;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: black;
    }
  }
  .normal-btn {
    width: 220.03px;
    height: 46.09px;
    background-color: white;
    a {
      text-decoration: none;
      color: var(--text-color-title);
      font-size: var(--text-link);
      text-transform: uppercase;
      transform: color 0.3s ease;
    }
    padding: 11px 26px;
    border: 1px solid var(--text-color-title);
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--text-color-title);
    }
    &:hover a {
      color: white;
    }
  }
  .tag {
    padding-left: 100px;
    position: relative;
    font-size: var(--text-tag);
    color: var(--text-color-tag-btn);
    letter-spacing: 2px;
    font-weight: 700;
    transform: scaleY(2);
    transform: scaleX(2);
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 1px;
      background-color: var(--text-color-tag-btn);
      left: 70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .btn-no-background {
    border: none;
    background: none;
    a {
      display: inline-block;
      text-decoration: none;
      font-size: var(--text-link);
      color: var(--text-color-tag-btn);
      font-weight: 600;
      text-transform: uppercase;
      transition:
        color 0.3s ease,
        transform 0.3s ease;
      &:hover {
        color: var(--text-color-highlight);
        transform: translateX(2px);
      }
    }
  }
  .title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    h3 {
      font-size: var(--text-title-section);
      color: var(--text-color-title);
    }
  }
}
body header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0px;
    background-color: var(--color-nav-highlight);
  }
  .icon-container {
    padding: 20px 0px 20px 50px;
    font-size: var(--text-body-extreme-large);
    color: var(--text-color-title);
    text-transform: uppercase;
    font-weight: 525;
    transform: scaleY(1.09);
    transform: scaleX(1.1);
    transition: color 0.3s ease;
    .highlight {
      color: var(--text-color-tag-btn);
    }
    &:hover {
      color: var(--text-color-tag-btn);
    }
  }
  nav {
    padding: 20px 50px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      list-style: none;
      li a {
        width: 82.05px;
        height: 43.8px;
        text-decoration: none;
        font-size: var(--text-nav);
        color: var(--text-color-title);
        font-weight: 525;
        transform: scaleY(2);
        transform: scaleX(2);
        transition: all 0.3s ease;
        position: relative;
        &:hover {
          color: var(--text-color-tag-btn);
        }
        &::before {
          content: "";
          position: absolute;
          width: 0px;
          height: 43.8px;
          background-color: var(--color-nav-highlight);
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          transition: width 0.3s ease;
        }
        &:hover::before {
          width: 82.05px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0px;
          height: 1px;
          background-color: var(--text-color-tag-btn);
          bottom: -15px;
          left: 50%;
          transform: translateX(-50%);
          transition: width 0.3s ease;
        }
        &:hover::after {
          width: 82.05px;
        }
      }
    }
  }
}
body .hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 150px 50px;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    h1 {
      font-size: var(--text-extreme-large);
      color: var(--text-color-title);
      .highlight {
        color: var(--text-color-highlight);
      }
    }
    p {
      font-size: var(--text-body-extreme-large);
    }
    .btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }
  .img-container {
    position: relative;
    img {
      width: 500px;
      height: 600px;
    }
    .img-detail {
      position: absolute;
      left: -50px;
      bottom: -50px;
      width: 250px;
      height: 250px;
      border: 1px solid white;
    }
  }
}
body .hero-section::before {
  content: "";
  position: absolute;
  width: 550px;
  height: 700px;
  right: 0;
  top: 90px;
  background-color: rgba(255, 192, 203, 0.22);
  clip-path: polygon(20% 10%, 100% 0, 100% 90%, 0 100%);
}
body .quote {
  position: relative;
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .quote-sign {
    color: var(--text-color-highlight);
    font-size: 2.875rem;
    font-family: var(--font-family-title);
    transform: scaleY(2);
  }
  .quote-contant {
    text-align: center;
    color: var(--text-color-title);
    font-size: 2.875rem;
    font-family: var(--font-family-title);
    transform: scaleY(1);
    max-width: 20ch;
    font-weight: 500;
    .highlight {
      color: var(--text-color-highlight);
    }
  }
  .person {
    letter-spacing: 0.5ch;
    font-size: 0.75rem;
  }
}
body .quote::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: #9c72cb29;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}
body .featured-works {
  position: relative;
  width: 100%;
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      .img-container {
        overflow: hidden;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .card-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0px 10px;
        h3 {
          color: var(--text-color-title);
          font-size: 1.5rem;
        }
        span {
          color: var(--text-color-tag-btn);
          font-size: var(--text-nav);
          font-weight: 700;
        }
      }
      .category {
        padding: 0px 10px;
        width: 100%;
        text-align: left;
        font-size: var(--text-tag);
        transform: scaleY(1.2);
        text-transform: uppercase;
        letter-spacing: 0.3ch;
      }
    }
  }
}
body .featured-works::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(4, 182, 247, 0.081);
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  z-index: -1;
}
body .material-honesty {
  padding: 150px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    .card {
      padding: 50px 30px;
      border: 1px solid rgba(4, 182, 247, 0.195);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      transition: background-color 0.3s ease;
      h3 {
        font-family: var(--font-family-body);
        font-size: var(--card-title);
        color: var(--text-color-title);
      }
      p {
        font-size: var(--card-body);
      }
      &:hover {
        background-color: var(--color-nav-highlight);
      }
    }
  }
}
body .inside-atelier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 150px 50px;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    h2 {
      font-size: 3.25rem;
      color: var(--text-color-title);
      font-weight: 500;
    }
    p {
      font-size: var(--text-body-extreme-large);
    }
  }
  .img-container {
    width: 1300px;
    height: 600px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
body footer {
  width: 100%;
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .footer-content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 100px 0px 100px 0px;
    #footer-about {
      grid-column: span 1.5;
      max-width: 20ch;
      h3 {
        color: var(--text-color-title);
        font-size: var(--text-body-extreme-large);
        transition: color 0.3s ease;
        font-weight: 700;
        transform: scale(1.1);
        .highlight {
          color: var(--text-color-tag-btn);
        }
        &:hover {
          color: var(--text-color-tag-btn);
        }
      }
      p {
        font-size: var(--text-body);
        line-height: 1.6;
      }
    }
    .footer-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      h4 {
        font-size: var(--text-tag);
        color: var(--text-color-title);
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        list-style: none;
        a {
          text-decoration: none;
          transition: color 0.3s ease;
          font-size: var(--text-body);
          color: var(--text-color-body);
          &:hover {
            color: var(--text-color-tag-btn);
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0px;
      background-color: var(--color-nav-highlight);
    }
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      top: 0px;
      background-color: var(--color-nav-highlight);
    }
  }
}
/*------------------------Responsive-----------------------*/
@media (max-width: 900px) {
  :root {
    --text-extreme-large: 2.5rem;
    --text-title-section: 2rem;
    --text-body-extreme-large: 1rem;
    --card-title: 1.25rem;
    --text-body: 0.875rem;
    --shared-angle: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);
  }

  body .tag {
    transform: scale(1.1);
    transform-origin: left center;
    padding-left: 50px;
  }

  body .tag::before {
    width: 20px;
    left: 20px;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 101;
    margin-right: 20px;
  }

  .menu-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color-title);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .menu-icon.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body header .icon-container {
    padding: 20px 0px 20px 20px;
  }

  body header nav {
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background-color: white;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--color-nav-highlight);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: none;
    align-items: center;
    border-radius: 8px;
  }

  body header nav.active {
    display: flex;
  }

  body header nav ul {
    flex-direction: column;
    gap: 20px;
  }

  body header nav ul li a::before,
  body header nav ul li a::after {
    bottom: -5px;
  }

  body .hero-section {
    flex-direction: column;
    padding: 80px 20px;
    gap: 60px;
  }

  body .hero-section::before {
    display: none;
  }

  body .hero-section article {
    align-items: flex-start;
  }

  body .hero-section article .btns {
    width: 100%;
    align-items: flex-start;
    gap: 15px;
  }

  body .hero-section .img-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 320px;
    align-self: center;
  }

  body .hero-section .img-container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 110%;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 192, 203, 0.22);
    clip-path: var(--shared-angle);
    z-index: -1;
  }

  body .hero-section .img-container img:first-child {
    width: 100%;
    height: auto;
  }

  body .hero-section .img-container .img-detail {
    width: 120px;
    height: 120px;
    left: -15px;
    bottom: -15px;
  }

  body .quote {
    padding: 100px 20px;
  }

  body .quote::before {
    clip-path: var(--shared-angle);
  }

  body .quote .quote-sign {
    font-size: 2rem;
  }

  body .quote .quote-contant {
    font-size: 1.5rem;
  }

  body .featured-works {
    padding: 80px 20px;
  }

  body .featured-works::before {
    height: 100%;
    clip-path: var(--shared-angle);
  }

  body .featured-works .title-container {
    align-items: flex-start;
    gap: 15px;
  }

  body .featured-works .cards .card {
    align-items: flex-start;
  }

  body .featured-works .cards .card .img-container {
    height: 350px;
    width: 100%;
  }

  body .material-honesty {
    padding: 80px 20px;
  }

  body .inside-atelier {
    flex-direction: column;
    padding: 80px 20px;
    gap: 40px;
  }

  body .inside-atelier article h2 {
    font-size: 2rem;
  }

  body .inside-atelier .img-container {
    width: 100%;
    height: 350px;
  }

  body footer {
    padding: 0px 20px 30px 20px;
  }

  body footer .footer-content {
    padding: 60px 0px;
  }
}
